<a href="https://colab.research.google.com/github/DanielaRandazo/coderhouse/blob/main/Data_Wrangling_Daniela_Randazo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# IMDB
# DATA WRANGLING

In [22]:
from google.colab import drive
drive.mount('/CoderHouse')

Drive already mounted at /CoderHouse; to attempt to forcibly remount, call drive.mount("/CoderHouse", force_remount=True).

# Importo Librerias

In [23]:
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

import matplotlib.pyplot as plt
DF_IMDB = pd.read_csv('/CoderHouse/MyDrive/CoderHouse/IMDB.csv')

In [24]:
print(DF_IMDB.columns)

Index(['Unnamed: 0', 'index', 'tconst', 'titleType', 'primaryTitle',
       'originalTitle', 'isAdult', 'startYear', 'endYear', 'runtimeMinutes',
       'genres', 'averageRating', 'numVotes', 'ordering', 'title', 'region',
       'language', 'types', 'attributes', 'isOriginalTitle', 'Description'],
      dtype='object')


# ***Analisis y evolucion de la industria cinematografica a nivel mundial en las ultimas decadas***
![Screenshot 2023-10-19 at 15.46.36.png]()

# Analisis de valores nulos y NaN:

In [25]:
#cantidad de valores nulos por columna

DF_IMDB.isna().sum().sort_values(ascending=False)

Description        188
averageRating        0
isOriginalTitle      0
attributes           0
types                0
language             0
region               0
title                0
ordering             0
numVotes             0
Unnamed: 0           0
index                0
runtimeMinutes       0
endYear              0
startYear            0
isAdult              0
originalTitle        0
primaryTitle         0
titleType            0
tconst               0
genres               0
dtype: int64

In [32]:
DF_IMDB.replace('\\N', pd.NA, inplace=True)
DF_IMDB["endYear"] = pd.to_numeric(DF_IMDB["endYear"], errors="coerce")

# Imprimir la cantidad de NaN por columna
cantidad_nan_por_columna = DF_IMDB.isna().sum()
print(cantidad_nan_por_columna)

/usr/local/lib/python3.10/dist-packages/pandas/core/missing.py:95: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  new_mask = arr == x

AttributeError: ignored

In [27]:
DF_IMDB.dtypes

Unnamed: 0           int64
index                int64
tconst              object
titleType           object
primaryTitle        object
originalTitle       object
isAdult              int64
startYear            int64
endYear            float64
runtimeMinutes      object
genres              object
averageRating      float64
numVotes             int64
ordering             int64
title               object
region              object
language            object
types               object
attributes          object
isOriginalTitle      int64
Description         object
dtype: object

In [33]:
#quiero analizar los valores no numericos de mi columna endYear

DF_IMDB["endYear"] = pd.to_numeric(DF_IMDB["endYear"], errors="coerce")

valores_no_numericos = DF_IMDB.loc[pd.to_numeric(DF_IMDB["endYear"], errors="coerce").isnull(), "endYear"]
# Imprimir los valores no numéricos
print(valores_no_numericos)

Series([], Name: endYear, dtype: float64)

In [34]:
#voy a rellenar los valores NaN de la columna endYear con el promedio de anios que tengo de esa columna

DF_IMDB["endYear"] = pd.to_numeric(DF_IMDB["endYear"], errors="coerce")

# Calculo el promedio de los años excluyendo NaN
promedio_anios = DF_IMDB["endYear"].mean(skipna=True)

# Reemplazo NaN con el promedio de los años en la columna "endYear"
DF_IMDB["endYear"].fillna(promedio_anios, inplace=True)

# Imprimo el DataFrame actualizado
print(DF_IMDB)

      Unnamed: 0  index     tconst titleType  \
0              0      0  tt0102926     movie
1              1      1  tt0103064     movie
2              2      3  tt0110357     movie
3              3      4  tt0110912     movie
4              4      5  tt0111161     movie
...          ...    ...        ...       ...
7845        7845  10269  tt9789686     movie
7846        7846  10270  tt9814900  tvSeries
7847        7847  10271  tt9845110     movie
7848        7848  10272  tt9845398     movie
7849        7849  10274  tt9908860  tvSeries

                                primaryTitle  \
0                   The Silence of the Lambs
1                 Terminator 2: Judgment Day
2                              The Lion King
3                               Pulp Fiction
4                   The Shawshank Redemption
...                                      ...
7845                          The Blonde One
7846  Trailer Park Boys: The Animated Series
7847                               Two of Us
7848                      End of the Century
7849                              Blown Away

                               originalTitle  isAdult  startYear      endYear  \
0                   The Silence of the Lambs        0       1991  2015.847293
1                 Terminator 2: Judgment Day        0       1991  2015.847293
2                              The Lion King        0       1994  2015.847293
3                               Pulp Fiction        0       1994  2015.847293
4                   The Shawshank Redemption        0       1994  2015.847293
...                                      ...      ...        ...          ...
7845                                Un rubio        0       2019  2015.847293
7846  Trailer Park Boys: The Animated Series        0       2019  2020.000000
7847                                    Deux        0       2019  2015.847293
7848                            Fin de siglo        0       2019  2015.847293
7849                              Blown Away        0       2019  2015.847293

     runtimeMinutes  ... averageRating  numVotes  ordering  \
0               118  ...           8.6   1473918        50
1               137  ...           8.6   1128166        17
2                88  ...           8.5   1090882        18
3               154  ...           8.9   2118762        22
4               142  ...           9.3   2759621         2
...             ...  ...           ...       ...       ...
7845            108  ...           7.3      3779        11
7846             25  ...           7.5      3318         4
7847             99  ...           7.2      3346        29
7848             84  ...           6.9      3646         6
7849             23  ...           7.2      3577        27

                                       title region language        types  \
0                   The Silence of the Lambs     US       en         <NA>
1                 Terminator 2: Judgment Day     US       en          dvd
2                           The Lion King 3D     US       en         <NA>
3                               Pulp Fiction     US       en         <NA>
4                   The Shawshank Redemption     US       en         <NA>
...                                      ...    ...      ...          ...
7845                          The Blonde One     CA       en  imdbDisplay
7846  Trailer Park Boys: The Animated Series     CA       en  imdbDisplay
7847                               Two of Us     CA       en  imdbDisplay
7848                            Fin De Siglo     CA       en  imdbDisplay
7849                              Blown Away     CA       en  imdbDisplay

       attributes isOriginalTitle  \
0            <NA>               0
1            <NA>               0
2     3-D version               0
3            <NA>               0
4            <NA>               0
...           ...             ...
7845         <NA>               0
7846         <NA>               0
7847         <NA>               0
7848         <NA>               0
7849         <NA>               0

                                            Description
0     Jodie Foster stars as Clarice Starling, a top ...
1     In this sequel set eleven years after "The Ter...
2     This Disney animated feature follows the adven...
3     Vincent Vega (John Travolta) and Jules Winnfie...
4     Andy Dufresne (Tim Robbins) is sentenced to tw...
...                                                 ...
7845  Two men begin a romantic relationship in Bueno...
7846  Nova Scotia's trailer parks are colorful thank...
7847  Two retired women, Nina and Madeleine, have be...
7848  A 30-something Argentine poet on vacation in B...
7849  A group of artisans from across North America ...

[7850 rows x 21 columns]

In [35]:
#Evaluation of missing Data
#"True" stands for missing value, while "False" stands for not missing value.

missing_data = DF_IMDB.isnull()
missing_data.head(5)

,Unnamed: 0,index,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,...,averageRating,numVotes,ordering,title,region,language,types,attributes,isOriginalTitle,Description
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,True,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,True,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,True,False,False

In [36]:
#Count missing values in each column


for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

Unnamed: 0
False    7850
Name: Unnamed: 0, dtype: int64

index
False    7850
Name: index, dtype: int64

tconst
False    7850
Name: tconst, dtype: int64

titleType
False    7850
Name: titleType, dtype: int64

primaryTitle
False    7850
Name: primaryTitle, dtype: int64

originalTitle
False    7850
Name: originalTitle, dtype: int64

isAdult
False    7850
Name: isAdult, dtype: int64

startYear
False    7850
Name: startYear, dtype: int64

endYear
False    7850
Name: endYear, dtype: int64

runtimeMinutes
False    7727
True      123
Name: runtimeMinutes, dtype: int64

genres
False    7848
True        2
Name: genres, dtype: int64

averageRating
False    7850
Name: averageRating, dtype: int64

numVotes
False    7850
Name: numVotes, dtype: int64

ordering
False    7850
Name: ordering, dtype: int64

title
False    7850
Name: title, dtype: int64

region
False    7850
Name: region, dtype: int64

language
False    7850
Name: language, dtype: int64

types
False    7480
True      370
Name: types, dtype: int64

attributes
True     7781
False      69
Name: attributes, dtype: int64

isOriginalTitle
False    7850
Name: isOriginalTitle, dtype: int64

Description
False    7662
True      188
Name: Description, dtype: int64

Based on the query above we can see that only Description has missing data.
All the other columns don't have missing date.

In [37]:
#print(DF_IMDB['Description'])


filas_nulas = DF_IMDB[DF_IMDB['Description'].isnull()]

# Imprimir las filas con valores nulos en 'nombre_columna'
print(filas_nulas)

      Unnamed: 0  index      tconst  titleType        primaryTitle  \
47            47    167   tt0919370  tvEpisode           Encounter
50            50    177   tt0947906  tvEpisode               Wager
52            52    181   tt0950513  tvEpisode           Execution
54            54    190   tt0990612  tvEpisode             Revival
82            82    281  tt11866324      movie                Prey
...          ...    ...         ...        ...                 ...
7769        7769  10176   tt7843600      movie          Fyre Fraud
7778        7778  10185   tt8015444      movie  Last and First Men
7799        7799  10211   tt8359842      movie   It Must Be Heaven
7828        7828  10246   tt9118930   tvSeries           Wild Bill
7837        7837  10259   tt9581076      movie     So Long, My Son

           originalTitle  isAdult  startYear      endYear runtimeMinutes  ...  \
47              Sesshoku        0       2006  2015.847293             23  ...
50                  Kake        0       2007  2015.847293             23  ...
52               Shikkou        0       2007  2015.847293             23  ...
54              Fukkatsu        0       2007  2015.847293             24  ...
82                  Prey        0       2022  2015.847293            100  ...
...                  ...      ...        ...          ...            ...  ...
7769          Fyre Fraud        0       2019  2015.847293             96  ...
7778  Last and First Men        0       2020  2015.847293             70  ...
7799   It Must Be Heaven        0       2019  2015.847293            102  ...
7828           Wild Bill        0       2019  2019.000000             45  ...
7837    Di jiu tianchang        0       2019  2015.847293            185  ...

     averageRating  numVotes  ordering               title region language  \
47             8.5      4136         2           Encounter     US       en
50             8.8      4072         2               Wager     US       en
52             8.0      3748         1           Execution     US       en
54             9.2      5375         1             Revival     US       en
82             7.1    208923        15                Prey     US       en
...            ...       ...       ...                 ...    ...      ...
7769           6.8      6697         3          Fyre Fraud     CA       en
7778           6.7      4056        23  Last and First Men     CA       en
7799           7.0      5240        31   It Must Be Heaven     CA       en
7828           6.9      3046         5           Wild Bill     CA       en
7837           7.7      4864        21     So Long, My Son     CA       en

            types attributes isOriginalTitle  Description
47           <NA>       <NA>               0          NaN
50           <NA>       <NA>               0          NaN
52           <NA>       <NA>               0          NaN
54           <NA>       <NA>               0          NaN
82           <NA>       <NA>               0          NaN
...           ...        ...             ...          ...
7769  imdbDisplay       <NA>               0          NaN
7778  imdbDisplay       <NA>               0          NaN
7799  imdbDisplay       <NA>               0          NaN
7828  imdbDisplay       <NA>               0          NaN
7837  imdbDisplay       <NA>               0          NaN

[188 rows x 21 columns]

In [38]:
pip install tabulate

Requirement already satisfied: tabulate in /usr/local/lib/python3.10/dist-packages (0.9.0)

In [39]:
import pandas as pd
from tabulate import tabulate

# Supongamos que ya tienes un DataFrame llamado DF_IMDB
# Armo mi DataFrame con las columnas que yo quiero
columnas_seleccionadas = ['titleType', 'primaryTitle', 'originalTitle', 'startYear', 'numVotes', 'title', 'genres']

# Seleccionar solo las columnas deseadas del DataFrame
DF_seleccionado = DF_IMDB[columnas_seleccionadas]

# Mostrar solo las primeras 10 filas del DataFrame
DF_menos_filas = DF_seleccionado.head(40)

# Imprimir el DataFrame resultante de manera más organizada y en forma de tabla
print(tabulate(DF_menos_filas, headers='keys', tablefmt='fancy_grid', showindex=False))

╒══════════════╤════════════════════════════════════════════════════╤════════════════════════════════════════════════════════════════╤═════════════╤════════════╤════════════════════════════════════════════════════╤════════════════════════════╕
│ titleType    │ primaryTitle                                       │ originalTitle                                                  │   startYear │   numVotes │ title                                              │ genres                     │
╞══════════════╪════════════════════════════════════════════════════╪════════════════════════════════════════════════════════════════╪═════════════╪════════════╪════════════════════════════════════════════════════╪════════════════════════════╡
│ movie        │ The Silence of the Lambs                           │ The Silence of the Lambs                                       │        1991 │    1473918 │ The Silence of the Lambs                           │ Crime,Drama,Thriller       │
├──────────────┼────────────────────────────────────────────────────┼────────────────────────────────────────────────────────────────┼─────────────┼────────────┼────────────────────────────────────────────────────┼────────────────────────────┤
│ movie        │ Terminator 2: Judgment Day                         │ Terminator 2: Judgment Day                                     │        1991 │    1128166 │ Terminator 2: Judgment Day                         │ Action,Sci-Fi              │
├──────────────┼────────────────────────────────────────────────────┼────────────────────────────────────────────────────────────────┼─────────────┼────────────┼────────────────────────────────────────────────────┼────────────────────────────┤
│ movie        │ The Lion King                                      │ The Lion King                                                  │        1994 │    1090882 │ The Lion King 3D                                   │ Adventure,Animation,Drama  │
├──────────────┼────────────────────────────────────────────────────┼────────────────────────────────────────────────────────────────┼─────────────┼────────────┼────────────────────────────────────────────────────┼────────────────────────────┤
│ movie        │ Pulp Fiction                                       │ Pulp Fiction                                                   │        1994 │    2118762 │ Pulp Fiction                                       │ Crime,Drama                │
├──────────────┼────────────────────────────────────────────────────┼────────────────────────────────────────────────────────────────┼─────────────┼────────────┼────────────────────────────────────────────────────┼────────────────────────────┤
│ movie        │ The Shawshank Redemption                           │ The Shawshank Redemption                                       │        1994 │    2759621 │ The Shawshank Redemption                           │ Drama                      │
├──────────────┼────────────────────────────────────────────────────┼────────────────────────────────────────────────────────────────┼─────────────┼────────────┼────────────────────────────────────────────────────┼────────────────────────────┤
│ movie        │ Titanic                                            │ Titanic                                                        │        1997 │    1226536 │ Titanic                                            │ Drama,Romance              │
├──────────────┼────────────────────────────────────────────────────┼────────────────────────────────────────────────────────────────┼─────────────┼────────────┼────────────────────────────────────────────────────┼────────────────────────────┤
│ movie        │ Corpse Bride                                       │ Corpse Bride                                                   │        2005 │     285146 │ Corpse Bride                                       │ Animation,Drama,Family     │
├──────────────┼────────────────────────────────────────────────────┼────────────────────────────────────────────────────────────────┼─────────────┼────────────┼────────────────────────────────────────────────────┼────────────────────────────┤
│ movie        │ Gladiator                                          │ Gladiator                                                      │        2000 │    1542458 │ Gladiator                                          │ Action,Adventure,Drama     │
├──────────────┼────────────────────────────────────────────────────┼────────────────────────────────────────────────────────────────┼─────────────┼────────────┼────────────────────────────────────────────────────┼────────────────────────────┤
│ movie        │ A.I. Artificial Intelligence                       │ A.I. Artificial Intelligence                                   │        2001 │     315458 │ A.I. Artificial Intelligence                       │ Drama,Sci-Fi               │
├──────────────┼────────────────────────────────────────────────────┼────────────────────────────────────────────────────────────────┼─────────────┼────────────┼────────────────────────────────────────────────────┼────────────────────────────┤
│ tvMiniSeries │ Egypt Uncovered                                    │ Egypt                                                          │        1998 │         69 │ Egypt Uncovered                                    │ Documentary                │
├──────────────┼────────────────────────────────────────────────────┼────────────────────────────────────────────────────────────────┼─────────────┼────────────┼────────────────────────────────────────────────────┼────────────────────────────┤
│ tvSeries     │ Transformers: Robots in Disguise                   │ Toransufômâ: Kârobotto                                         │        2000 │        577 │ Transformers: Robots in Disguise                   │ Action,Adventure,Animation │
├──────────────┼────────────────────────────────────────────────────┼────────────────────────────────────────────────────────────────┼─────────────┼────────────┼────────────────────────────────────────────────────┼────────────────────────────┤
│ tvSeries     │ Star Trek: Enterprise                              │ Enterprise                                                     │        2001 │      56151 │ Star Trek: Enterprise                              │ Action,Adventure,Drama     │
├──────────────┼────────────────────────────────────────────────────┼────────────────────────────────────────────────────────────────┼─────────────┼────────────┼────────────────────────────────────────────────────┼────────────────────────────┤
│ movie        │ The Dummy                                          │ Dummy                                                          │        2002 │       6790 │ The Dummy                                          │ Comedy,Drama,Romance       │
├──────────────┼────────────────────────────────────────────────────┼────────────────────────────────────────────────────────────────┼─────────────┼────────────┼────────────────────────────────────────────────────┼────────────────────────────┤
│ movie        │ The Pianist                                        │ The Pianist                                                    │        2002 │     860569 │ The Pianist                                        │ Biography,Drama,Music      │
├──────────────┼────────────────────────────────────────────────────┼────────────────────────────────────────────────────────────────┼─────────────┼────────────┼────────────────────────────────────────────────────┼────────────────────────────┤
│ tvMovie      │ The Wedding                                        │ La Boda                                                        │        2000 │         11 │ The Wedding                                        │ Documentary                │
├──────────────┼────────────────────────────────────────────────────┼────────────────────────────────────────────────────────────────┼─────────────┼────────────┼────────────────────────────────────────────────────┼────────────────────────────┤
│ tvSeries     │ Aqua Teen Hunger Force                             │ Aqua Teen Hunger Force                                         │        2000 │      26073 │ Aqua Teen Hunger Force                             │ Animation,Comedy           │
├──────────────┼────────────────────────────────────────────────────┼────────────────────────────────────────────────────────────────┼─────────────┼────────────┼────────────────────────────────────────────────────┼────────────────────────────┤
│ movie        │ Chances Are                                        │ Vat Doi Sao Doi                                                │        2001 │         44 │ Chances Are                                        │ Comedy,Romance             │
├──────────────┼────────────────────────────────────────────────────┼────────────────────────────────────────────────────────────────┼─────────────┼────────────┼────────────────────────────────────────────────────┼────────────────────────────┤
│ movie        │ The Incredibles                                    │ The Incredibles                                                │        2004 │     766397 │ The Incredibles                                    │ Action,Adventure,Animation │
├──────────────┼────────────────────────────────────────────────────┼────────────────────────────────────────────────────────────────┼─────────────┼────────────┼────────────────────────────────────────────────────┼────────────────────────────┤
│ movie        │ Coraline                                           │ Coraline                                                       │        2009 │     244739 │ Coraline                                           │ Animation,Drama,Family     │
├──────────────┼────────────────────────────────────────────────────┼────────────────────────────────────────────────────────────────┼─────────────┼────────────┼────────────────────────────────────────────────────┼────────────────────────────┤
│ movie        │ School of Rock                                     │ School of Rock                                                 │        2003 │     317593 │ School of Rock                                     │ Comedy,Music               │
├──────────────┼────────────────────────────────────────────────────┼────────────────────────────────────────────────────────────────┼─────────────┼────────────┼────────────────────────────────────────────────────┼────────────────────────────┤
│ movie        │ Lost in New Mexico: The Strange Tale of Susan Hero │ Susan Hero                                                     │        2007 │         26 │ Lost in New Mexico: The Strange Tale of Susan Hero │ Drama,Romance,Sci-Fi       │
├──────────────┼────────────────────────────────────────────────────┼────────────────────────────────────────────────────────────────┼─────────────┼────────────┼────────────────────────────────────────────────────┼────────────────────────────┤
│ movie        │ Collateral                                         │ Collateral                                                     │        2004 │     417391 │ Collateral                                         │ Action,Crime,Drama         │
├──────────────┼────────────────────────────────────────────────────┼────────────────────────────────────────────────────────────────┼─────────────┼────────────┼────────────────────────────────────────────────────┼────────────────────────────┤
│ movie        │ Anniyan                                            │ Anniyan                                                        │        2005 │      19795 │ The Stranger                                       │ Action,Crime,Drama         │
├──────────────┼────────────────────────────────────────────────────┼────────────────────────────────────────────────────────────────┼─────────────┼────────────┼────────────────────────────────────────────────────┼────────────────────────────┤
│ movie        │ Malfunkshun: The Andrew Wood Story                 │ Malfunkshun: The Andrew Wood Story                             │        2005 │        145 │ Malfunkshun: The Andrew Wood Story                 │ Documentary,Music          │
├──────────────┼────────────────────────────────────────────────────┼────────────────────────────────────────────────────────────────┼─────────────┼────────────┼────────────────────────────────────────────────────┼────────────────────────────┤
│ movie        │ The Island                                         │ The Island                                                     │        2005 │     321582 │ The Island                                         │ Action,Sci-Fi,Thriller     │
├──────────────┼────────────────────────────────────────────────────┼────────────────────────────────────────────────────────────────┼─────────────┼────────────┼────────────────────────────────────────────────────┼────────────────────────────┤
│ movie        │ The Departed                                       │ The Departed                                                   │        2006 │    1362209 │ The Departed                                       │ Crime,Drama,Thriller       │
├──────────────┼────────────────────────────────────────────────────┼────────────────────────────────────────────────────────────────┼─────────────┼────────────┼────────────────────────────────────────────────────┼────────────────────────────┤
│ tvSeries     │ House                                              │ House M.D.                                                     │        2004 │     482566 │ House                                              │ Drama,Mystery              │
├──────────────┼────────────────────────────────────────────────────┼────────────────────────────────────────────────────────────────┼─────────────┼────────────┼────────────────────────────────────────────────────┼────────────────────────────┤
│ movie        │ Mrs. Henderson Presents                            │ Mrs. Henderson Presents                                        │        2005 │      16107 │ Mrs. Henderson Presents                            │ Comedy,Drama,Music         │
├──────────────┼────────────────────────────────────────────────────┼────────────────────────────────────────────────────────────────┼─────────────┼────────────┼────────────────────────────────────────────────────┼────────────────────────────┤
│ movie        │ Two Sons of Francisco                              │ 2 Filhos de Francisco: A História de Zezé di Camargo & Luciano │        2005 │       5946 │ Two Sons of Francisco                              │ Biography,Drama,Music      │
├──────────────┼────────────────────────────────────────────────────┼────────────────────────────────────────────────────────────────┼─────────────┼────────────┼────────────────────────────────────────────────────┼────────────────────────────┤
│ movie        │ Brand Upon the Brain!                              │ Brand Upon the Brain! A Remembrance in 12 Chapters             │        2006 │       3637 │ Brand Upon the Brain!                              │ Comedy,Drama,Fantasy       │
├──────────────┼────────────────────────────────────────────────────┼────────────────────────────────────────────────────────────────┼─────────────┼────────────┼────────────────────────────────────────────────────┼────────────────────────────┤
│ movie        │ Hoodwinked                                         │ Hoodwinked!                                                    │        2005 │      64072 │ Hoodwinked                                         │ Adventure,Animation,Comedy │
├──────────────┼────────────────────────────────────────────────────┼────────────────────────────────────────────────────────────────┼─────────────┼────────────┼────────────────────────────────────────────────────┼────────────────────────────┤
│ movie        │ Wonder Woman                                       │ Wonder Woman                                                   │        2017 │     677305 │ Wonder Woman                                       │ Action,Adventure,Fantasy   │
├──────────────┼────────────────────────────────────────────────────┼────────────────────────────────────────────────────────────────┼─────────────┼────────────┼────────────────────────────────────────────────────┼────────────────────────────┤
│ movie        │ Vettaiyaadu Vilaiyaadu                             │ Vettaiyaadu Vilaiyaadu                                         │        2006 │       7995 │ The Smart Hunt                                     │ Action,Crime,Drama         │
├──────────────┼────────────────────────────────────────────────────┼────────────────────────────────────────────────────────────────┼─────────────┼────────────┼────────────────────────────────────────────────────┼────────────────────────────┤
│ movie        │ The Equalizer                                      │ The Equalizer                                                  │        2014 │     386260 │ The Equalizer                                      │ Action,Crime,Thriller      │
├──────────────┼────────────────────────────────────────────────────┼────────────────────────────────────────────────────────────────┼─────────────┼────────────┼────────────────────────────────────────────────────┼────────────────────────────┤
│ movie        │ Khosla Ka Ghosla!                                  │ Khosla Ka Ghosla!                                              │        2006 │      24478 │ Khosla's Nest                                      │ Comedy,Crime,Drama         │
├──────────────┼────────────────────────────────────────────────────┼────────────────────────────────────────────────────────────────┼─────────────┼────────────┼────────────────────────────────────────────────────┼────────────────────────────┤
│ movie        │ The Dark Knight                                    │ The Dark Knight                                                │        2008 │    2732611 │ The Dark Knight                                    │ Action,Crime,Drama         │
├──────────────┼────────────────────────────────────────────────────┼────────────────────────────────────────────────────────────────┼─────────────┼────────────┼────────────────────────────────────────────────────┼────────────────────────────┤
│ movie        │ Alan Partridge                                     │ Alan Partridge: Alpha Papa                                     │        2013 │      32515 │ Alan Partridge                                     │ Action,Comedy,Crime        │
├──────────────┼────────────────────────────────────────────────────┼────────────────────────────────────────────────────────────────┼─────────────┼────────────┼────────────────────────────────────────────────────┼────────────────────────────┤
│ movie        │ Awesome; I Shot That!                              │ Awesome; I Fuckin' Shot That!                                  │        2006 │        975 │ Awesome; I Shot That!                              │ Documentary,Music          │
├──────────────┼────────────────────────────────────────────────────┼────────────────────────────────────────────────────────────────┼─────────────┼────────────┼────────────────────────────────────────────────────┼────────────────────────────┤
│ movie        │ Silence                                            │ Silence                                                        │        2016 │     117191 │ Silence                                            │ Drama,History              │
├──────────────┼────────────────────────────────────────────────────┼────────────────────────────────────────────────────────────────┼─────────────┼────────────┼────────────────────────────────────────────────────┼────────────────────────────┤

In [40]:
#eliminar los datos nulos de Description

DF_IMDB.dropna(subset=['Description'], inplace=True)

In [41]:
#reviso lo procesado
#cantidad de valores nulos por columna

DF_IMDB.isna().sum().sort_values(ascending=False)

attributes         7595
types               355
runtimeMinutes      122
genres                1
averageRating         0
isOriginalTitle       0
language              0
region                0
title                 0
ordering              0
numVotes              0
Unnamed: 0            0
index                 0
endYear               0
startYear             0
isAdult               0
originalTitle         0
primaryTitle          0
titleType             0
tconst                0
Description           0
dtype: int64